<div class="content-post">
  <div class="shousai_time-post">
    <div class="shousai">
        <%= link_to '詳細', "/blogs/#{blog.id}", method: :get %>
    </div>
    <div class="time-post">
      投稿日時:<%= blog.updated_at %>
    </div>
  </div>
  <div class="title-post">
    <%= simple_format(blog.title) %>
  </div>
  <div class="comment-post">
    <%= simple_format(blog.text) %>
  </div>
</div>