<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    method:        get指定 link_to_unlessのみでは画面遷移後のjavascriptが読み込めない対策
-%>
<span class="prev">
  <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url, method: :get, rel: 'prev', remote: remote %>
</span>
